<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.css') }}">
    

    <title>Stroke Predictor</title>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <link href="{{ url_for('static', filename='fontawesome/css/all.css')}}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"> 

    <style>
        body{
            font-family: 'Noto Sans', sans-serif;
        }
        
        .y:link{
        	color: rgba(255,255,255,0.8);
        	border-bottom: 0;
        }
        .y:hover{
            color:#fff
        }
    </style>

  </head>
  <body>

    <div class="container" style="font-size:15px; padding-left:0px; padding-right:0px">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white !important">
        <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='img/leeds-beckett.png')}}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}" style="padding-right:20px">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="padding-right:20px">About Us</a>
            </li>
            
            <li class="nav-item" href="#" style="padding-right:20px">
                <a class="nav-link" href="#">Services</a>
            </li>

            <li class="nav-item active" href="index.html" style="padding-right:20px">
                <a class="nav-link" href="index.html">Stroke Predictor </a>
            </li>
            

            </ul>
        </div>
        </nav>
    </div>


    <div class="container-fluid" style="padding:0px; margin:0px; background-image:url('static/img/banner2.jpg'); height:700px">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-9">
                    <h1 style="font-size:30px; background-color: rgba(34, 5, 87, 0.1); color:#e0e2ee; font-weight:bold; padding:100px; margin-top:40px">Supporting people to grow in confidence and take greater control of their health is our primary focus.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:40px; padding-bottom:60px">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding-bottom:0px; margin-bottom:0px"> <span style="color:#2C3B8D"><strong> Stroke Predictor </strong></span></h1>
                <hr style="border:solid 1px #2C3B8D; width:420px; display: inline-block;" />
            </div>

            <div class="col-md-12">
                <p style="font-size:14px">Want to know if a patient will have <strong>Stroke or Not </strong> ? Use the stroke predictor model:</p><hr/>
            </div>

            <div class="col-md-12" style="padding-top:10px; font-size:14px">
                <form name="form1" id="form1" method="post" action="{{url_for('predict')}}">

                    <div class="form-row">

                        <div class="form-group col-md-3">
                        <label>Gender</label>
                            <select name="gender" id="gender" class="form-control" style="font-size:14px" required>
                                <option value="" selected>Select Gender </option>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Age</label>
                            <input type="number" class="form-control" id="age" name="age" style="font-size:15px" min="1" placeholder="Age" required>
                        </div> 

                        <div class="form-group col-md-3">
                        <label>Hypertensive Status</label>
                        <select name="hypertension" id="hypertension" class="form-control" style="font-size:14px" required>
                                <option value="" selected>Select Hypertensive Status</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                
                        <div class="form-group col-md-3">
                        <label>Heart Disease</label>
                        <select name="heart-disease" id="heart-disease" class="form-control" style="font-size:14px" required>
                                <option value="" selected>Select Heart Disease</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                     
                        <div class="form-group col-md-3">
                            <label>Ever Married</label>
                            <select name="ever-married" id="ever-married" class="form-control" style="font-size:14px" required>
                                    <option value="" selected>Select Ever Married </option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>


                    
                        <div class="form-group col-md-3">
                            <label>Work Type</label>
                                <select name="work-type" id="work-type" class="form-control" style="font-size:14px" required>
                                    <option value="" selected>Select Work Type</option>
                                    <option value="private">Private</option>
                                    <option value="self_employed">Self Employed</option>
                                    <option value="govt_job">Government Job</option>
                                    <option value="children">Children</option>
                                    <option value="never_worked">Never Worked</option>
                                </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Resident Type</label>
                            <select name="resident-type" id="resident-type" class="form-control" style="font-size:14px" required>
                                    <option value="" selected>Select Resident Type</option>
                                    <option value="urban">Urban</option>
                                    <option value="rural">Rural</option>
                                </select>
                            </div>

                        <div class="form-group col-md-3">
                            <label>BMI</label>
                            <input type="number" class="form-control" id="bmi" name="bmi" style="font-size:15px" min="1" placeholder="BMI" required>
                        </div> 

                        <div class="form-group col-md-3">
                        <label>Average Glucose</label>
                        <input type="number" class="form-control" id="glucose" name="glucose" style="font-size:15px" min="1" placeholder="Average Glucose" required>
                        </div>

                        <div class="form-group col-md-3">
                        <label>Smoking Status</label>
                        <select name="smoking-status" id="smoking-status" class="form-control" style="font-size:14px" required>
                                <option value="" selected>Select Smoking Status</option>
                                <option value="smokes">Smokes</option>
                                <option value="never_smoked">Never Smoked</option>
                                <option value="formerly_smoked">Formerly Smoked</option>
                                <option value="unknown"> Unknown</option>
                            </select>
                        </div>

                    </div>


                    <div style="text-align:left; padding-top:10px">
                        <button type="submit" class="btn btn-lg btn-danger" style="font-weight:normal"><i class="fas fa-mouse-pointer"></i> Execute Stroke Predictor</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    

    <div class="container-fluid" style="background-color:#fff">
        <div class="container" style="padding-bottom:40px">
            <div class="row">
                <div class="col-md-12" style="padding-top:30px; padding-bottom:20px">
                    <h2 style="text-align:center; font-weight:bold"><span style="color:#E90760">ACCREDITATION </span> </h2>
                </div>
            </div>

    
                <div class="col-md-3" style="text-align:center">
                    <img src="{{ url_for('static', filename='img/leeds-beckett.png')}}" />
                </div>
            </div>


        </div>
    </div>

    
    <div class="container-fluid" style="background-color:#16205A; padding-top:70px; padding-bottom:70px">
        <div class="container">
            <div class="row">

                <div class="col-md-12" style="text-align: center">
                    <img src="{{ url_for('static', filename='img/leeds-beckett.png')}}" style="width:15%;" />
                </div>

                <div class="col-md-12" style="font-size:14px; text-align:center; color:#fff; padding-top:20px; padding-bottom:20px">
                    <a href="#" class="y">Contact Us</a> | <a href="#" class="y">Site Map</a> | <a href="#" class="y">Cookie Policy</a> | <a href="#" class="y">Privacy Policy</a> | <a href="#" class="y">Safeguarding Policy</a> |
                    <a href="#" class="y">Modern Slavery Policy</a> | <a href="#" class="y">Complaints</a> | <a href="#" class="y">Accessibility</a> | <a href="#" class="y">Careers</a>
                </div>

                <div class="col-md-12" style="font-size:50px; color:#fff; text-align:center">
                    <i class="fab fa-twitter"></i> &nbsp;   <i class="fab fa-facebook-f"></i>  &nbsp;   
                    <i class="fab fa-linkedin-in"></i> &nbsp;     <i class="fab fa-youtube"></i>
                </div>

                <div class="col-md-12" style="color:#fff; font-size:12px; padding-top:20px; text-align:center">
                
                </div>

            </div>
        </div>
    </div>


  </body>
</html>